@font-face {
    font-family: Norse;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left-container {
    background-image: url('/images/leaf.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Norse-Bold";
    display: flex;
    flex-direction: column;
    
}

.right-container {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.first {
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 5%;

    font-family: sans-serif;
}

.second {
    background-color: white;
    height: 33vh;
    align-items: center;
    box-shadow: 2px 5px #e5e7eb;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;

    margin-top: 10px;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input {
    width: 200px;
    border: 1px solid #e5e7eb;
    height: 25px;
    border-radius: 5px;
}

input:focus {
    border: 1px solid blue;
}

input:invalid {
    border: 1px solid red;

}

label {
    font-size: 10px;
    color: #3b3b3c;
    font-family: sans-serif;
}

#error {
    color: red;
    font-size: 10px;
    margin: 1px;
}


.btn-green {
    background-color: #596d48;
    color: white;
    border: 1px solid #596d48;
    border-radius: 10px;
    height: 40px;
    width: 175px;
    font-weight: bolder;
    font-size: small;
    box-shadow: 2px 5px #e5e7eb;

}

.third {
    margin-left: 50px;
    margin-top: 25px;
}

.hyperlink {
    margin-left: 50px;
    margin-top: 25px;
    font-family: sans-serif;
}

.login {
    color: #596d48;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.a-footer {
    color: white;
    font-family: sans-serif;
}

.p-footer {
    font-size: 12px;
    font-family: sans-serif;
}

.overlay {
    height: 32vh;
    display: flex;
    align-items: flex-end;
}

.forFooter {
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.semi-transparent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.6);
    font-family: "Norse-Bold";
    height: 120px;
}

span {
    font-size: 70px;
    font-family: "Norse-Bold";
    
}

legend {
    font-family: sans-serif;
   
    
}
/*
.main-container {
    dis
}
.left-container img{
    max-width: 33vw;
    height: 100vh;
    position: relative;
    
    
}

.overlay img{
    max-width: 33vw;
    height: 100px;
    margin: 0px;
    padding: 0px;
}
.overlay{
    font-family: "Norse-Bold";
    font-size: 50px;
    background-color: black;
    color: white;
    
    width: 33%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;

    background: rgba(0, 0, 0, 0.5);

    

    
}
.left-container .overlay{
position: absolute;

top: 180px;

}

.main-container {
    display: flex;
}

.hero-content {
    background-color: #F8F8F8	;
    font-family: sans-serif;
    font-weight: bold;

  
  padding-top: 130px; 
  padding-left: 25px;
  padding-right: 450px;
  padding-bottom: 25px;
    

}

legend {
    font-family: sans-serif;
    font-weight: bold;
}
form {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;

    
}

.form-row {
    display: flex;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 20px;

    font-family: sans-serif;
    font-size: 10px;

    
    
    
}

.input-container input {
    border: 1px solid #E5E7EBee;
    border-radius: 3px;
    

    

}

.input-container label {
    margin-bottom: 5px ;
}

input:focus {
    outline: none;
    border-color: blue;
    box-shadow: 0 0 2px blue;
}

input:invalid {
    border: 1px solid red;
}

.input-container input:focus {
  
    border: none;
    border-color: #007bff; /* Blue border for valid input 
    

}



.sign-up-section{
    background-color: #F8F8F8	;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 160px;
    text-decoration: none;
    
}
#error{
    color: red;
    font-size: 10px;
    margin: 1px;
}
button {
    color: white ;
    border-radius: 3px;
    background-color: #596D48 ;
    border: none; 
    font-family: sans-serif;
    padding: 10px 20px;

    box-shadow: 0 0 3px #596D48;
    
}

#login a {
    color: #596D48;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    padding-left: 5px;
    font-weight: bold;
   
}

.sign-up-section {
    font-family: sans-serif;
 /*  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); */

 /*   box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, .5); 
    

}

.sign-up-form {
    box-shadow: 2px 5px #E5E7EB;
    
    
}


*/