@font-face {
    font-family: Norse;
    src: url(fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    
}

.left-container img{
    max-width: 33vw;
    height: 100vh;
    position: relative;
    
}

.overlay img{
    max-width: 33vw;
    height: 100px;
    margin: 0px;
    padding: 0px;
}
.overlay{
    font-family: "Norse-Bold";
    font-size: 50px;
    background-color: black;
    color: white;
    
    width: 33%;
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;

    background: rgba(0, 0, 0, 0.5);

    

    
}
.left-container .overlay{
position: absolute;

top: 180px;

}

.main-container {
    display: flex;
}

.hero-content {
    background-color: #F8F8F8	;
    font-family: sans-serif;
    font-weight: bold;

  
  padding-top: 130px; 
  padding-left: 25px;
  padding-right: 450px;
  padding-bottom: 25px;
    

}

legend {
    font-family: sans-serif;
    font-weight: bold;
}
form {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.form-row {
    display: flex;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    padding-top: 20px;

    font-family: sans-serif;
    font-size: 10px;
    
}

.sign-up-section{
    background-color: #F8F8F8	;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 160px;
    
}